.vs/
.bin/
vs/
bin/
Api.Server/bin/
Api.Server/obj/
Api.Server.Integration.Test/bin/
Api.Server.Integration.Test/obj/
core/CSharp.SysCloud.Infraestrutura/bin/
core/CSharp.SysCloud.Infraestrutura/obj/
Api.Server.Unit.Test/bin/
Api.Server.Unit.Test/obj/
publish/
.publish/
obj/
# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn